@charset "UTF-8";

#clientsearchbar
{
    display: flex;
}

input
{
    outline: none;
}

#clientsearchdiv
{
    border: 1px #d3d5d5 solid;
    border-radius: 20px;
    margin-top: 10px;
}

@media (min-width: 375px){
    #clientsearch
    {
        border-radius: 20px;
        width: 40vw;
        height: 40px;
        padding-left: 10px;
        font-size: 15px;
        border: 0px;
    }
}

@media (min-width: 200px){
    #clientsearch
    {
        border-radius: 20px;
        width: 35vw;
        height: 40px;
        padding-left: 10px;
        font-size: 15px;
        border: 0px;
    }
}


::placeholder
{
    color: #adb3b3;
}

#clientsearchbutton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

#addcustomer
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.customer-table
{
    border-collapse: collapse; /*去除雙框線*/
    text-align: center;
    margin: 25px 0; /*上下 左右*/
    box-shadow: 3px 2px 11px 0px;
    border-radius: 20px;
    overflow: hidden; /*確保上面的元素跟著border-radius*/
}

.customer-table>thead>tr
{
    background-color:  #009879;
    color: #ffffff;
    font-weight: bold;
}

.customer-table th,
.customer-table td
{
    padding: 12px 15px;
}

.customer-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

.customer-table tbody tr:nth-of-type(even) /*偶數列*/
{
    background-color: #f3f3f3;
}

.customer-table tbody tr:hover 
{
    transition: 0.3s;
    color: #009879;
    box-shadow: 7px 3px 20px 1px black;
}  

.pagination
{
    display: flex;
    justify-content: center;
}

.pagination > ul
{
    display: inline-flex;
    width: 600px;
    background-color: #47dbbe;
    list-style: none;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;  
}

.pagination > ul > li
{
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    margin: 0px 10px 0px 10px ; /*top right bottom left*/
}

.pagination > ul >li.num
{
    width: 60px;
    border-radius: 100px;
}

.pagination > ul >li.prev
{
    border-radius: 25px 5px 5px 25px;
    width: 100px;
}

.pagination > ul > li.next
{
    border-radius: 5px 25px 25px 5px;
    width: 100px;
}

.pagination > ul > li.btn:hover
{
    background-color: #05a585;
    cursor: pointer;
}

.active-page
{
    background-color: #024d3e;
    color: white; 
}

