@charset "UTF-8";

#orderSearchBar
{
    display: flex;
}

input
{
    outline: none;
}

#orderSearchDiv
{
    border: 1px #d3d5d5 solid;
    border-radius: 20px;
    margin-top: 10px;
}

#orderSearch
{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 0px;
}

::placeholder
{
    color: #adb3b3;
}

#orderSearchButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

#addorder
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.order-table
{
    border-collapse: collapse; /*去除雙框線*/
    text-align: center;
    margin: 25px 0; /*上下 左右*/
    box-shadow: 3px 2px 11px 0px;
    border-radius: 20px;
    overflow: hidden; /*確保上面的元素跟著border-radius*/
}

.order-table>thead>tr
{
    background-color:  #009879;
    color: #ffffff;
    font-weight: bold;
}

.order-table th,
.order-table td
{
    padding: 12px 15px;
}

.order-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

.order-table tbody tr:nth-of-type(even) /*偶數列*/
{
    background-color: #f3f3f3;
}

.order-table tbody tr:hover 
{
    transition: 0.3s;
    color: #009879;
    box-shadow: 7px 3px 20px 1px black;
}  

.addproduct
{
    display: flex;
    align-items: center;
    border: solid 1px #777;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
    margin-top: 3%;
}

#plus_package
{
    color: #007bff;
    font-size: x-large;
    cursor: pointer;
}

.first-part
{
    display: flex;
    justify-content: center;
    flex: 1;
}

.second-part
{
    flex: 4;
    justify-content: center;
}
.package_dropdown
{
    width: 85%;
}

.third-part
{
    flex: 4;
    justify-content: center;
}
.product_dropdown
{
    width: 85%;
}

.fourth-part
{
    flex: 1;
}

.package-dropdown-menu
{
    height: 200px;
    width: 105%;
    overflow: auto;
}

.product-dropdown-menu
{
    height: 300px;
    width: 100%;
    overflow: auto;
}

.mustfill
{
    display: none;
    color: red;
    font-size: 0.9em;
}

.order-form-item
{
    transition: 1s;
}


.classifylabel {
    display: inline-block;
    background-color: #777;
    padding: 0.2em;
    color: white;
}

.relocate {
    display: flex;

}

.info-label {
    font-size: 1.1em;
    font-weight: bolder;
}

.info-row {
    padding-top: 1.2em;
}

.info-input {
    height: 1.8em;

}

.detail-table {
    margin-top: 1.5em;
}

.plus-detail:hover {
    color: rgb(145, 145, 236);
    cursor: pointer;
}

.all-confirm {
    float: right;

}

.action {
    text-align: center;
}

.num-group {
    margin-top: 2em;
}

#adddepositdate
{
    width: 100%;
    outline: none;
    padding: 0.7%;
    border-radius: 5px;
}

@media(max-widt: 576px){

}