@charset "UTF-8";

#packageSearchBar
{
    display: flex;
}

input
{
    outline: none;
}

#packageSearchDiv
{
    border: 1px #d3d5d5 solid;
    border-radius: 20px;
    margin-top: 10px;
}

#packageSearch
{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 0px;
}

::placeholder
{
    color: #adb3b3;
}

#packageSearchButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

#addpackage
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.package-table
{
    border-collapse: collapse; /*去除雙框線*/
    text-align: center;
    margin: 25px 0; /*上下 左右*/
    box-shadow: 3px 2px 11px 0px;
    border-radius: 20px;
    overflow: hidden; /*確保上面的元素跟著border-radius*/
}

.package-table>thead>tr
{
    background-color:  #009879;
    color: #ffffff;
    font-weight: bold;
}

.package-table th,
.package-table td
{
    padding: 12px 15px;
}

.package-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

.package-table tbody tr:nth-of-type(even) /*偶數列*/
{
    background-color: #f3f3f3;
}

.package-table tbody tr:hover 
{
    transition: 0.3s;
    color: #009879;
    box-shadow: 7px 3px 20px 1px black;
}  

.fa-info-circle
{
    color: rgb(107, 107, 240);
}

.fa-info-circle:hover
{
    cursor: pointer;
    color: red;
}

#pkgtitle
{
    background-color: rgb(33, 134, 68);
    border-radius: 20px;
    padding: 2%;
    color: white;
    text-align: center;
}

#product_dropdown
{
    width: 100%;
}

#product_dropdown_menu
{
    width: 100%;
    height: 300px;
    overflow: auto;
}

#plusicon
{
    background-color: rgb(111, 111, 226);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 120px;
    text-align: center;
    margin-top: 1%;
    float: right;
}

#plusicon > .fa-plus
{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

#plusicon:hover
{
    cursor: pointer;
}

#will_combine_product
{
    width: 100%;
    margin-top: 5%;
    /* border: solid 1px #777; */
    clear: both;  /*清除左右兩塊的float(看見陰影)*/
}

.will_add_product
{
    width: 100%;
    height: 10%;
    border: solid 2px #777;
}

#productlist
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#productlist > li
{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
    border-right: solid 1px #777;
    align-items: center;
    justify-content: center;
}

.first-li
{
    flex: 1;
    margin-left: -4%;
}

.second-li
{
    flex: 8;
}

.third-li
{
    flex: 1;
}

#confirmproducts
{
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: large;
    float: right;
}

#confirmproducts:hover
{
    cursor: pointer;
}