@charset "UTF-8";

#productSearchBar
{
    display: flex;
}

input
{
    outline: none;
}

#productSearchDiv
{
    border: 1px #d3d5d5 solid;
    border-radius: 20px;
    margin-top: 10px;
}

#productSearch
{
    border-radius: 20px;
    width: 35vw;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 0px;
}

::placeholder
{
    color: #adb3b3;
}

#productSearchButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

#addProduct
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 30px;
    margin-left: 25px;
    cursor: pointer;
}

.product-table
{
    border-collapse: collapse; /*去除雙框線*/
    text-align: center;
    margin: 25px 0; /*上下 左右*/
    box-shadow: 3px 2px 11px 0px;
    border-radius: 20px;
    overflow: hidden; /*確保上面的元素跟著border-radius*/
}

.product-table>thead>tr
{
    background-color:  #009879;
    color: #ffffff;
    font-weight: bold;
}

.product-table th,
.product-table td
{
    padding: 12px 15px;
}

.product-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

.product-table tbody tr:nth-of-type(even) /*偶數列*/
{
    background-color: #f3f3f3;
}

.product-table tbody tr:hover 
{
    transition: 0.3s;
    color: #009879;
    box-shadow: 7px 3px 20px 1px black;
}  

.fa-info-circle
{
    color: rgb(107, 107, 240);
}

.fa-info-circle:hover
{
    cursor: pointer;
    color: red;
}

#productimg
{
    display: none;
}

.carousel {
    display: inline-block;
    max-width: 60%;
    max-height: 85%;
    margin-top: 3%;
    box-shadow: 5px 20px 12px 1px;
}

.carousel > .carousel-inner > .carousel-item > img {
    max-width: 100%;
    max-height: 100%;
}

#product_inner_info
{
    width: 30%;
    position: absolute;
}

#product_inner_info > ul
{
    list-style: none;
}

#product_inner_info > ul >li
{
    margin-top: 10%;
    font-size: 20px;
    font-family: "微軟正黑體";
    font-weight: 800;
    background-color: rgb(192, 168, 168);
    border-radius: 50px;
    padding: 10px;
}

#checkimg
{
    margin-left: 83%;
    margin-top: 2%;
}

.checkinnerphoto
{   
    max-width: 400px;
    max-height: 400px;
}

.form-check-inline
{
    margin-top: 4%;
}