@charset "UTF-8";

#ReportSearchBar
{
    display: inline-flex;
}

#reportSearchButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
}

.reportdate
{
    outline: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

#addCostOfGood
{
    width: 150px;
}

#plus_cost,
#plus_edit
{
    color: #007bff;
    font-size: x-large;
    cursor: pointer;
    margin-bottom: 20px;
}

.cost-item,
.share-item,
.edit-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 0 0;
}

.first-part
{
    flex: 1;
    text-align: center;
}

.second-part
{
    flex: 5;
    margin: 0 2% 0 0;
}

.third-part
{
    flex: 5;
}

.fourth-part
{
    flex: 1;
    text-align: center;
}

.card-title
{
    background-color: #212529 !important;
}

#pagecontent
{
    background-position: 50% 50%; /*center*/
    background-repeat: no-repeat;
    background-size: 0% 0%;
    transition: background-size 1s; /*css property, duration*/
}

.chart-card
{
    display: none;
    flex: 1;
    background-color: rgb(31 42 57);
    border-color: #172442;
    box-shadow: 6px 8px 7px 2px;
    margin: 10px;
}

.charts
{
    display: flex;
}

#value-group
{
    display: none;
}