@charset "UTF-8";

body
{
    margin: 0px;
    font-family: '微軟正黑體';
}

#container
{
    display: flex;
    height: 100%;
}

i
{
    display: inline-block;
    width: 30px;
    text-align: center;
}

@media screen and (min-width: 376px){
    #navbar{   
        border-right: 1px #cca9a9 solid;
        width: 15%;
    }
}

@media screen and (min-width: 200px) and (max-width: 375px){
    #navbar{   
        border-right: 1px #cca9a9 solid;
        width: 20%;
    }
}

.closenavbar
{
    border-right: 1px #cca9a9 solid;
    width: 6vw !important;
}

#listbtn
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 25px;
    font-weight: 550;
    color: black;
    cursor: pointer;
}

.active-option
{
    background-color: rgb(153, 231, 153);
    color: rgb(35, 141, 35) !important; /*字體顏色*/ 
    border-left: 3px rgb(35, 141, 35) solid;
}

.option:hover
{
    background-color: rgb(153, 231, 153);
    color: rgb(35, 141, 35) !important;
}

.opentext
{
    margin-left: 10px;
}

.option
{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    /* padding-right: 100px; */
    font-size: large;
    font-weight: 550;
    color: rgb(168, 160, 160);
    cursor: pointer;
    flex-wrap: wrap;
}

#topbar
{ 
    box-shadow: 5px 1px 6px 2px #858c8c;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

#maincontent
{
    width: 98%;
    background-color: #eae9e98c;
}

#pagecontent
{
    margin: 50px;
    height: 90%;
    box-shadow: 3px 2px 9px 2px #858c8c;
    background-color: white;
    padding: 30px;
    overflow: auto; 
}

.pagination
{
    display: flex;
    justify-content: center;
}

.pagination > ul
{
    display: inline-flex;
    width: 600px;
    background-color: #47dbbe;
    list-style: none;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;  
}

.pagination > ul > li
{
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    margin: 0px 10px 0px 10px ; /*top right bottom left*/
}

.pagination > ul >li.num
{
    width: 60px;
    border-radius: 100px;
}

.pagination > ul >li.prev
{
    border-radius: 25px 5px 5px 25px;
    width: 100px;
}

.pagination > ul > li.next
{
    border-radius: 5px 25px 25px 5px;
    width: 100px;
}

.pagination > ul > li.btn:hover
{
    background-color: #05a585;
    cursor: pointer;
}

.active-page
{
    background-color: #024d3e;
    color: white; 
}

.fa-edit
{
    color: rgb(107, 107, 240);
}

.fa-trash-alt
{
    color: #05a585;
    text-align: center;
}

.fa-edit:hover,
.fa-trash-alt:hover
{
    color: red;
    cursor: pointer;
}

.fa-caret-right:hover
{
    color: red;
}

.fa-sort-down{
    color: red;
    margin-bottom: 10px;
}

.span_content
{
    display: none;
}

.active-span
{
    display: block;
    width: 100%;
}

#span_product,
#span_package
{
    display: block;
    text-align: center;
    padding-right: 25%;
}

#span_product:hover,
#span_package:hover
{
    color: white;
    background-color: rgb(77, 165, 77);
}

#product_spanicondiv
{
    flex: 1;
    text-align: right; 
    justify-content: center;
    font-size: x-large; 
}

.active-span-option
{
    color: white;
    background-color: rgb(77, 165, 77);
}

.fa-info-circle
{
    color: rgb(107, 107, 240);
}

.fa-info-circle:hover
{
    cursor: pointer;
    color: red;
}

.back
{
    display: inline-block;
    font-size: 1.1em;
    margin: 0px 0em 1em -1em;
}

.back-report
{
    display: block;
    color: #fff;
    font-size: 1.1em;
    margin: 0px 0em 1em -1em;
}

.back-report:hover,
.back:hover
{
    color: rgb(107 152 35);
    cursor: pointer;
}


hr.rounded
{
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.normal-button
{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(78 222 78);
    border: 1px solid;
    border-radius: 50px;
    padding-right: 7px;
    cursor: pointer;
}